
  
  .MMM {
    text-align: center;
    padding: 10px;
  }
  
  .image-container {
    display: flex;
    justify-content:center;
  }
  
  .image-container img {
    width: 12%;
    height: 400px;
    margin: 1%;
  }
  
.MMN{
width: 50px;
margin: 60px;

}

.geral1{

    
  
    margin-top:50px;


}

.corpo1{
background-color: red;



}